<div id="info" class="clearfix">
	<div id="profile-img">
		{{#each images}}
			{{#if is_profile_picture}}
				<div class="clearfix"><img src="{{image}}" alt="" class="rounded" data-number="{{id}}" id="profile_picture"></div>
			{{/if}}
		{{/each}}
		<i class="fas fa-pen-square"></i>Edit<br><br><br>
	</div>
	<div id="about">
		<h2><input type="text" value="{{user.username}}" name="username"></h2>
		<strong>{{location.city}}, {{location.country}}</strong>

		<h2>About Me:</h2>
		<textarea name="bio" rows="8" cols="80" placeholder="Click to write biography..">{{user.bio}}</textarea>
		<h2>Info: </h2>
		<table id="info-table">
			<tr>
				<td>Name:</td>
				<td><input type="text" value="{{user.first_name}}" name="first_name"></td>
			</tr>
			<tr>
				<td>Surname:</td>
				<td><input type="text" name="last_name" value="{{user.last_name}}"></td>
			</tr>
			<tr>
				<td>Age:</td>
				<td>{{user.age}} years old</td>
			</tr>
			<tr>
				<td>Email Address:</td>
				<td><input type="text" name="email" value="{{user.email}}"></td>
			</tr>
			<tr>
				<td></td>
				<td><br> </td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" value="" placeholder="******"></td>
			</tr>
			<tr>
				<td>Confirm Password</td>
				<td><input type="password" name="confirm-password" value="" placeholder="******"></td>
			</tr>
		</table>
	</div>
</div>
<div id="preferences" class="clearfix">
	<h2>Preferences</h2>
	<div class="box">
		<strong>Show me</strong><br>
		<label for="">Men<input type="radio" name="sex" value="1" {{sex.men}}></label>
		<label for="">Women<input type="radio" name="sex" value="2" {{sex.women}}></label>
		<label for="">Both<input type="radio" name="sex" value="3" {{sex.both}}></label>
	</div>
	<div class="box clearfix">
		<strong>Maximum distance</strong>
		<div class="range distance-km" data-value="{{preferences.distance}}">
			<span>{{preferences.distance}}km</span>
		</div>
		<div id="master" style="width:260px; margin:15px;"></div>
	</div>
	<div class="box clearfix">
		<strong>Age range</strong>
		<div class="range">
			<span class="min">{{preferences.min_age}}</span> -
			<span class="max">{{preferences.max_age}}</span></div>
		<div id="slider-range"></div>
	</div>
	<br>
	<div class="box clearfix">
		<strong>Make my live location visible?</strong>
		<input type="checkbox" name="visible" id="" value="1" {{preferences.visible}}>
	</div>

</div>
<div id="interests" class="clearfix">
	<h2>Interests</h2>
	<div class="box">
		<table>
			{{#each interests}}
				<tr>
					{{#each this}}
						<td><label for=""><i class="{{class}}"></i> {{name}}</label></td>
						<td><input name="interest" type="checkbox" value="{{id}}" {{active}}></td>
					{{/each}}
				</tr>
			{{/each}}
		</table>
		<br>
		<br>
		<br>
		<br>
		<button type="button" name="delete-account" class="delete-account btn">DELETE ACCOUNT</button>
	</div>
</div>
