<div id="info" class="clearfix">
	<div id="profile-img">
		<img src="{{profile_picture}}" alt=""><br>
		{{#if isProfileCompleted}}
			<div class="star" data-id="{{_user.id}}"><i class="{{like}}"></i></div><br><br><br><br><br>
			<a href="/block-user/{{_user.id}}" class="delete-account btn" style="font-size: 12px;"><i class="fas fa-lock"></i> BLOCK THIS USER</a> <br>
		{{/if}}
	</div>
	<div id="about">
		<h2>{{_user.username}}</h2>
		<strong>3km away</strong><br>
		<strong>{{_user.location.city}}, {{_user.location.country}}</strong>

		<h2>Biography</h2>
		<p>{{_user.bio}}</p>

		<h2>Info: </h2>
		<table>
			<tr>
				<td>Name:</td>
				<td>{{_user.first_name}}</td>
			</tr>
			<tr>
				<td>Surname:</td>
				<td>{{_user.last_name}}</td>
			</tr>
			<tr>
				<td>Age:</td>
				<td>{{_user.age}} years old</td>
			</tr>
			<tr>
				<td>I am looking for:</td>
				<td>{{preferences.gender}}</td>
			</tr>
		</table>
	</div>
</div>
<div id="interests" class="clearfix">
	<h2>Interests</h2>
	<div class="box" style="text-align: center;">
		{{#each interests}}
			<span class="interest">
				<i class="icon {{class}}"></i> {{name}}
			</span>
		{{/each}}
		<table>
		</table>
	</div>
</div>
